# Format Style Options - Created with Clang Power Tools
---
AlignConsecutiveAssignments: AcrossEmptyLines
AlignConsecutiveBitFields: AcrossEmptyLines
AlignConsecutiveDeclarations: AcrossEmptyLines
AlignConsecutiveMacros: AcrossEmptyLines
BasedOnStyle: Microsoft
ColumnLimit: 180
FixNamespaceComments: false
PointerAlignment: Left
SortIncludes: false
...
